<div class="jumbotron mt-4">
    <h1>Who We Are</h1>
    <p class="lead">BuilderBid is the collaborative effort of three
        Chattanooga State students who saw a
        deficiency in the legacy traditional contractor
        budding process.. Coming from diverse
        backgrounds, each student brings his own
        unique talents to the project.</p>
  </div>
  <div class="jumbotron">
    <h1>Our Method</h1>
    <p class="lead">We create healthy working relationships
        between general and subcontractors by
        providing an open auction biding process and
        social profiles to promote services. We
        accomplish this through our builderbid.us
        website. This site is a central communication
        hub which combines all the benefits of social
        networking in a professional environment.</p>
  </div>
  <div class="jumbotron">
    <h1>Get Results</h1>
    <p class="lead">Studies have shown that open public auctions
        create a balanced and fair process for selling
        products and services. By the same token,
        open auctions also create lower bids for the
        same quality work, saving money for general
        contractors.</p>
  </div>
   