<carousel >
  
    <slide>
      <img src="./assets/photoFour.jpg" alt="first slide" >
      <div class="carousel-caption d-none d-md-block">
        <h3>Bid to Build!</h3>
        <p>Quality work for a Quality Bid</p>
      </div>
      
    </slide>
    <slide>
      <img src="./assets/photo1.jpg" alt="second slide" >
      <div class="carousel-caption d-none d-md-block">
        <h3>Get Results</h3>
        <p>Hire the best using open and closed auctions.</p>
      </div>
    </slide>
    <slide >
      <img src="./assets/photo3.jpg" alt="third slide" >
      <div class="carousel-caption d-none d-md-block">
        <h3>Be Empowered</h3>
        <p>Build working relationships and find the contractors.</p>
      </div>
    </slide>
  </carousel>


<div class="container mt-1 mb-2 ">
  <div *ngIf="!registerMode" style="text-align: center">
    <!-- <h1>Find the best contractors in town!</h1>
    <p class="lead">Increase your productivity now... All you need to do is sign up!</p> -->
    <div class="text-center mt-3" routerLinkActive="active">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()" >Register</button>
      <button class="btn btn-info btn-lg" [routerLink]="['/about']">Learn more</button>
    </div>
    <h1 class="mt-4">Find the best contractors in town!</h1>
    <p class="lead">Increase your productivity now... All you need to do is sign up!</p>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>



