<div class="jumbotron">
<div class="media">
    <div class="media-body">
      <h5 class="mt-0">CEO</h5>
      <a href="mailto:nickjung@gmail.com?Subject=Hello%20again" target="_top">nickjung@gmail.com</a>
    </div>
  </div>
<div class="media ">
    <div class="media-body">
      <h5 class="mt-0">CIO</h5>
      
       <a href="mailto:kenneth.j.coleman@gmail.com?Subject=Hello%20again" target="_top">kenneth.j.coleman@gmail.com</a>
    </div>
  </div>
<div class="media ">
    <div class="media-body">
      <h5 class="mt-0">CPO</h5>
      
       <a href="mailto:michael.flannagan@gmail.com?Subject=Hello%20again" target="_top">michael.flannagan@gmail.com</a>
    </div>
  </div>
</div>  